.my-custom-menu {
 --background: #fff;
 background-repeat: no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 background-position: center;
 height: 100%;
 position: absolute;

 .img-center{
   display: flex;
   flex-direction: row;
   align-items: center;
 }
 .horizantal-line{
   width: 100%;
   border-top: 1px solid #000;
   margin: 1em 0;
   padding: 0;
 }
 .labels{
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   font-weight: 600;
 }
}